
/* BYU Blue */
$blue0: #001948 !global;
$blue1: #025 !global;
$blue2: #036 !global;
$blue3: #147 !global;
$blue4: #369 !global;
$blue4-5: #47A !global;
$blue5: #628cb6 !global;
$blue6: #91b2d2 !global;
$blue7: #abc8e4 !global;
$blue8: #d1e4f6 !global;
$blue9: #e0edf9 !global;
$blue10: #eff6fc !global;
$blue11: #f9fcfe !global;


/* Highlight Yellow */
$yellow0: #ffc !global;
$yellow1: #ffd !global;
$yellow2: #ffe !global;


/* Reds */
$red0: #901 !global;
$red1: #b01 !global;
$red2: #d01 !global;

$green1: #005518 !global;
$green2: #006614 !global;
$green3: #117725 !global;
$green4: #339947 !global;
$green5: #62b672 !global;
$green6: #91d29d !global;
$green7: #abe4b6 !global;
$green8: #d1f6d8 !global;
$green9: #e0f9e4 !global;
$green10: #effcf1 !global;
$green11: #f9fefa !global;


/* Gray */
$gray0: #000 !global;
$gray1: #111 !global;
$gray2: #222 !global;
$gray3: #333 !global;
$gray4: #444 !global;
$gray5: #555 !global;
$gray6: #666 !global;
$gray7: #777 !global;
$gray8: #888 !global;
$gray9: #999 !global;
$grayA: #aaa !global;
$grayB: #bbb !global;
$grayC: #ccc !global;
$grayD: #ddd !global;
$grayE: #eee !global;
$grayF: #fff !global;